doctype html
block vars
html
head
	title #{title}
	link(rel='stylesheet', href='/css/paper.min.css')
	link(rel='stylesheet', href='/css/font-awesome.min.css')
	link(rel='stylesheet', href='/css/mydash.css')
	script(type='text/javascript', src='/js/jquery.min.js')
	script(type='text/javascript', src='/js/jquery-ui.min.js')
	script(type='text/javascript', src='/js/bootstrap.min.js')
	script(type='text/javascript', src='/js/socket.io.js')
	script(type='text/javascript', src='/js/masonry.pkgd.min.js')