extends ./base-with-sidebar.jade

block sidebar
	ul.nav.nav-sidebar
		li
			a(href="#general") General
		li
			a(href="#look_feel") Look &amp; feel
		li
			a(href="#messages") Messages

block content
	h3(id='general', style='padding-top: 70px; margin-top: -70px;') General
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam cupiditate, dolores dolor voluptatum voluptate aspernatur praesentium repellendus enim. Officia tempora maiores vel laborum, totam odit aspernatur nobis iusto commodi quae.
	p Lorem
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio tenetur hic, odit incidunt, commodi perspiciatis maxime aut tempore repudiandae error distinctio recusandae voluptatem, minus ex! Animi aliquid cumque molestiae maxime.
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam cupiditate, dolores dolor voluptatum voluptate aspernatur praesentium repellendus enim. Officia tempora maiores vel laborum, totam odit aspernatur nobis iusto commodi quae.
	p Lorem
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio tenetur hic, odit incidunt, commodi perspiciatis maxime aut tempore repudiandae error distinctio recusandae voluptatem, minus ex! Animi aliquid cumque molestiae maxime.
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam cupiditate, dolores dolor voluptatum voluptate aspernatur praesentium repellendus enim. Officia tempora maiores vel laborum, totam odit aspernatur nobis iusto commodi quae.
	p Lorem
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio tenetur hic, odit incidunt, commodi perspiciatis maxime aut tempore repudiandae error distinctio recusandae voluptatem, minus ex! Animi aliquid cumque molestiae maxime.
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam cupiditate, dolores dolor voluptatum voluptate aspernatur praesentium repellendus enim. Officia tempora maiores vel laborum, totam odit aspernatur nobis iusto commodi quae.
	p Lorem
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio tenetur hic, odit incidunt, commodi perspiciatis maxime aut tempore repudiandae error distinctio recusandae voluptatem, minus ex! Animi aliquid cumque molestiae maxime.

	h3(id='look_feel', style='padding-top: 70px; margin-top: -60px;') Look &amp; feel
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam cupiditate, dolores dolor voluptatum voluptate aspernatur praesentium repellendus enim. Officia tempora maiores vel laborum, totam odit aspernatur nobis iusto commodi quae.
	p Lorem
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio tenetur hic, odit incidunt, commodi perspiciatis maxime aut tempore repudiandae error distinctio recusandae voluptatem, minus ex! Animi aliquid cumque molestiae maxime.
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam cupiditate, dolores dolor voluptatum voluptate aspernatur praesentium repellendus enim. Officia tempora maiores vel laborum, totam odit aspernatur nobis iusto commodi quae.
	p Lorem
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio tenetur hic, odit incidunt, commodi perspiciatis maxime aut tempore repudiandae error distinctio recusandae voluptatem, minus ex! Animi aliquid cumque molestiae maxime.
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam cupiditate, dolores dolor voluptatum voluptate aspernatur praesentium repellendus enim. Officia tempora maiores vel laborum, totam odit aspernatur nobis iusto commodi quae.
	p Lorem
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio tenetur hic, odit incidunt, commodi perspiciatis maxime aut tempore repudiandae error distinctio recusandae voluptatem, minus ex! Animi aliquid cumque molestiae maxime.
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam cupiditate, dolores dolor voluptatum voluptate aspernatur praesentium repellendus enim. Officia tempora maiores vel laborum, totam odit aspernatur nobis iusto commodi quae.
	p Lorem
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio tenetur hic, odit incidunt, commodi perspiciatis maxime aut tempore repudiandae error distinctio recusandae voluptatem, minus ex! Animi aliquid cumque molestiae maxime.

	h3(id='messages', style='padding-top: 70px; margin-top: -70px;') Messages
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam cupiditate, dolores dolor voluptatum voluptate aspernatur praesentium repellendus enim. Officia tempora maiores vel laborum, totam odit aspernatur nobis iusto commodi quae.
	p Lorem
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio tenetur hic, odit incidunt, commodi perspiciatis maxime aut tempore repudiandae error distinctio recusandae voluptatem, minus ex! Animi aliquid cumque molestiae maxime.
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam cupiditate, dolores dolor voluptatum voluptate aspernatur praesentium repellendus enim. Officia tempora maiores vel laborum, totam odit aspernatur nobis iusto commodi quae.
	p Lorem
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio tenetur hic, odit incidunt, commodi perspiciatis maxime aut tempore repudiandae error distinctio recusandae voluptatem, minus ex! Animi aliquid cumque molestiae maxime.
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam cupiditate, dolores dolor voluptatum voluptate aspernatur praesentium repellendus enim. Officia tempora maiores vel laborum, totam odit aspernatur nobis iusto commodi quae.
	p Lorem
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio tenetur hic, odit incidunt, commodi perspiciatis maxime aut tempore repudiandae error distinctio recusandae voluptatem, minus ex! Animi aliquid cumque molestiae maxime.
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam cupiditate, dolores dolor voluptatum voluptate aspernatur praesentium repellendus enim. Officia tempora maiores vel laborum, totam odit aspernatur nobis iusto commodi quae.
	p Lorem
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio tenetur hic, odit incidunt, commodi perspiciatis maxime aut tempore repudiandae error distinctio recusandae voluptatem, minus ex! Animi aliquid cumque molestiae maxime.
